<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#">List of Employees</a>
      <!----<div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
          <div class="container-fluid">
            </div>
  </div>

  <nav class="nav">
      <a class="nav-link active" "aria-current="page" href="#">First name</a>
      <a class="nav-link active" "aria-current="page" href="#">Last name</a>
      <a class="nav-link" href="#">Age</a>
      <a class="nav-link" href="#">Gender</a>
      <a class="nav-link" href="#">Designation</a>
      </nav>
      <p style="color: green"><%= notice %></p>
    <div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
    <p>
        <button type="button" class="btn btn-light">
        <%= link_to "Show this employee", employee %>
        </button>
    </p>
  <% end %>
</div>
