<h1>Welcome to Employees page.
  </br>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  Please click on the Employees Link to Add, Edit, View, Delete
  </ul>
</h1>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <li class= "nav-item">
          <%= link_to "Employees", employees_path %>
        </li>
        </ul>
    </div>
  </div>
</nav>
